# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# with a newline ending every file
[*]
indent_style = tab
indent_size = 4
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false
indent_style = tab
