<div class="row">
	<div class="col-md-3 col-sm-6 col-xs-12">
		<div class="info-box">
			<span class="info-box-icon bg-aqua"><i class="ion ion-person-add"></i></span>
			<div class="info-box-content">
				<span class="info-box-text">Total accounts:</span>
				<span class="info-box-number">{{ total_accounts }}</span>
			</div>
		</div>
	</div>
	<div class="col-md-3 col-sm-6 col-xs-12">
		<div class="info-box">
			<span class="info-box-icon bg-red"><i class="fa fa-male"></i></span>
			<div class="info-box-content">
				<span class="info-box-text">Total players:</span>
				<span class="info-box-number">{{ total_players }}</span>
			</div>
		</div>
	</div>
	<div class="clearfix visible-sm-block"></div>
	<div class="col-md-3 col-sm-6 col-xs-12">
		<div class="info-box">
			<span class="info-box-icon bg-green"><i class="ion ion-pie-graph"></i></span>
			<div class="info-box-content">
				<span class="info-box-text">Total guilds:</span>
				<span class="info-box-number">{{ total_guilds }}</span>
			</div>
		</div>
	</div>
	<div class="col-md-3 col-sm-6 col-xs-12">
		<div class="info-box">
			<span class="info-box-icon bg-yellow"><i class="fa fa-home"></i></span>
			<div class="info-box-content">
				<span class="info-box-text">Total houses:</span>
				<span class="info-box-number">{{ total_houses }}</span>
			</div>
		</div>
	</div>
</div>