<form action="?subtopic=guilds&action=invite&guild={{ guild_name }}&todo=save" method="post">
	Invite player with name:&nbsp;&nbsp;<input type="text" name="name">&nbsp;&nbsp;&nbsp;&nbsp;
	{{ include('buttons.submit.html.twig') }}
</form>