<div style="text-align:center">
	<table cellspacing="0" cellpadding="0" border="0">
		<form method="post" action="{{ getLink('news/archive') }}">
			<tbody>
				<tr>
					<td>
						<input width="120" height="18" border="0" type="image" src="{{ template_path }}/images/global/buttons/sbutton_back.gif" alt="Back" name="Back" />
					</td>
				</tr>
			</tbody>
		</form>
	</table>
</div>