build
*/build/**
vscode
.vscode
tfs
.vs
x64
theforgottenserver.vcxproj.user
libmysql.dll
lua51.dll
theforgottenserver.exe
map
data/world/otservbr.otbm
data/world/otservbr-house.xml
data/world/otservbr-spawn.xml
data/world/globalbr-house.xml
data/world/globalbr-spawn.xml
data/world/globalbr.otbm
config.lua
