name: C++ linter

on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@v2

    - name: Get file changes
      id: get_file_changes
      uses: trilom/file-changes-action@v1.2.3
      with:
        githubToken: ${{ secrets.GITHUB_TOKEN }}
        output: ' '
        fileOutput: ' '

    - name: Echo file changes
      run: |
        cat $HOME/files.txt
        cat $HOME/files_modified.txt
        cat $HOME/files_added.txt
        cat $HOME/files_removed.txt
        echo '${{ steps.get_file_changes.outputs.files}}'
        echo '${{ steps.get_file_changes.outputs.files_modified}}'
        echo '${{ steps.get_file_changes.outputs.files_added}}'
        echo '${{ steps.get_file_changes.outputs.files_removed}}'

    - name: Install cpplint
      run: sudo apt install python3-pip && sudo -H pip3 install cpplint

    - name: Run cpplint
      run: cpplint --filter=+build/class,+build/c++11,+build/c++14,+build/c++tr1,+build/deprecated,+build/endif_comment,+build/explicit_make_pair,+build/forward_decl,+build/header_guard,+build/include,+build/include_subdir,+build/include_alpha,+build/include_order,+build/include_what_you_use,+build/namespaces_literals,+build/namespaces,+build/printf_format,+build/storage_class,+legal/copyright,+readability/alt_tokens,+readability/braces,+readability/casting,+readability/check,+readability/constructors,+readability/fn_size,+readability/inheritance,+readability/multiline_comment,+readability/multiline_string,+readability/namespace,+readability/nolint,+readability/nul,+readability/strings,+readability/todo,+readability/utf8,+runtime/arrays,+runtime/casting,+runtime/explicit,+runtime/int,+runtime/init,+runtime/invalid_increment,+runtime/member_string_references,+runtime/memset,+runtime/indentation_namespace,+runtime/operator,+runtime/printf,+runtime/printf_format,+runtime/references,+runtime/string,+runtime/threadsafe_fn,+runtime/vlog,+whitespace/blank_line,+whitespace/braces,+whitespace/comma,+whitespace/comments,+whitespace/empty_conditional_body,+whitespace/empty_if_body,+whitespace/empty_loop_body,+whitespace/end_of_line,+whitespace/ending_newline,+whitespace/forcolon,+whitespace/indent,+whitespace/line_length,+whitespace/newline,+whitespace/operators,+whitespace/parens,+whitespace/semicolon,-whitespace/tab,+whitespace/tod ${{ steps.get_file_changes.outputs.files_modified }} ${{ steps.get_file_changes.outputs.files_added }}
